In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

In [5]:
NYSE_Weather = pd.read_csv('../data/NYSE_Weather.csv')
NYSE_Weather.head()

,Date,Open,Close,Volume,Returns,Hours_of_Sunlight,temp,humidity,precip,preciptype,snow,windspeed,cloudcover,visibility,sunrise,sunset,conditions,description
0,1985-01-03,1005.030029,1005.030029,0.0,-0.003984,09:20:42,0.3,54.6,0.000,NaN,NaN,26.2,100.0,25.2,07:20:26,16:41:08,Overcast,Cloudy skies throughout the day.
1,1985-01-04,1000.270020,1000.270020,0.0,-0.004736,09:21:36,-1.1,58.1,1.247,"rain,snow",NaN,23.0,99.1,18.9,07:20:26,16:42:02,"Snow, Rain, Overcast",Cloudy skies throughout the day with late afte...
2,1985-01-07,1003.340027,1003.340027,0.0,0.003069,09:24:39,2.9,78.3,0.000,NaN,NaN,22.1,99.3,13.3,07:20:15,16:44:54,Overcast,Cloudy skies throughout the day.
3,1985-01-08,1002.500000,1002.500000,0.0,-0.000837,09:25:46,-1.5,57.0,0.000,NaN,NaN,46.8,32.1,29.5,07:20:07,16:45:53,Partially cloudy,Partly cloudy throughout the day.
4,1985-01-09,1009.159973,1009.159973,0.0,0.006643,09:26:59,-7.9,51.4,0.000,NaN,NaN,40.8,0.9,34.5,07:19:56,16:46:55,Clear,Clear conditions throughout the day.

In [ ]:
NYSE_Weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9802 entries, 0 to 9801
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               9802 non-null   object
 1   Open               9802 non-null   float64
 2   Close              9802 non-null   float64
 3   Volume             9802 non-null   float64
 4   Returns            9802 non-null   float64
 5   Hours_of_Sunlight  9802 non-null   object
 6   temp               9802 non-null   float64
 7   humidity           9802 non-null   float64
 8   precip             9802 non-null   float64
 9   preciptype         4533 non-null   object
 10  snow               471 non-null    float64
 11  windspeed          9802 non-null   float64
 12  cloudcover         9802 non-null   float64
 13  visibility         9802 non-null   float64
 14  sunrise            9802 non-null   object
 15  sunset             9802 non-null   object
 16  conditions         9802 non-null   object
 17  description        9802 non-null   object
dtypes: float64(11), object(7)
memory usage: 1.3+ MB

In [14]:
NYSE_Weather['Date'] =  pd.to_datetime(NYSE_Weather['Date'])
# EVERYTHING IS A STRING AGAIN, NEED TO EITHER PICKLE OR CONVERT IT ALL BACK
# NEED TO CONVERT DATE, AND THE TIMES?

In [15]:
#to grab month
NYSE_Weather['Date'].dt.month.value_counts()

Date
8     864
10    861
3     854
6     833
5     825
7     824
4     805
12    803
1     802
9     792
11    792
2     747
Name: count, dtype: int64